@import './mixins/main.scss';
@import './mixins/animation.scss';

@include b(button) {
  outline: none;
  border: none;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;

  @include public-style;

  @include sizeMixin(button) {
    height: $height + px;
    line-height: $height + px;
    width: $value + px;
    vertical-align: middle;
  }

  @include colorMixin(button) {
    background: rgba($value, 0.7);
    border: 1px solid rgba($value, 0.7);
    color: white;
    @if ($name == text) {
      border: 1px solid $baseTextBorder;
      color: $baseTextColor;
    }

    @include when(disabled) {
      @include disabled-style;
      background: rgba($value, 0.5);
      @if ($name != text) {
        border: 1px solid rgba($value, 0.5);
      }
    }

    @include when(loading) {
      @include disabled-style;
      background: rgba($value, 0.5);
      @if ($name != text) {
        border: 1px solid rgba($value, 0.5);
      }
    }
  }

  @include when(round) {
    border-radius: 20px;
  }

  @include when(circle) {
    border-radius: 50% !important;
  }

  @include when(normal) {
    &:active {
      background: rgba(black, 0.7);
    }
  }

  i {
    display: inline-block;
  }

  i + span {
    margin-left: 5px;
  }
}
