@import './mixins/main.scss';
@import './mixins/animation.scss';

@include b(dialog-confirm) {
  background: #fff;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 20px 26px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  &--header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    height: 40px;

    i {
      font-size: 25px;
      @include colorMixin(dialog) {
        color: $value;
      }
    }

    span {
      font-size: 18px;
      margin-left: 7px;
    }
  }

  &--body {
    padding: 10px 0px 30px 0px;
    padding-left: 15px;
  }

  &--footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-btn {
      margin-right: 15px;
    }
  }
}

@include b(dialog) {
  background: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 16px;
  position: relative;
  margin: 0 auto 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;

  &--header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;

    & > span {
      font-size: 18px;
      color: #303133;
    }

    & > i {
      font-size: 20px !important;
      color: #909399;
      cursor: pointer;

      &:hover {
        color: #409eff;
      }
    }
  }

  &--body {
    width: 100%;
    min-height: 300px;
  }

  &--footer {
    width: 100%;
    height: 70px;
    border-top: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-btn {
      margin-right: 15px;
    }
  }
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
}

@keyframes modal-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cu-dialog-fade-enter-active {
  animation: modal-fade-in 0.3s !important;

  .cu-dialog,
  .cu-dialog-confirm {
    animation: dialog-fade-in 0.3s;
  }
}

.cu-dialog-fade-leave-active {
  animation: modal-fade-out 0.3s;

  .cu-dialog,
  .cu-dialog-confirm {
    animation: dialog-fade-out 0.3s;
  }
}
