@import './common/var.scss';

@font-face {
  font-family: 'viewer-design-icon';
  src: url('./fonts/iconfont.woff?t=1625790553625') format('woff'),
    url('./fonts/iconfont.ttf?t=1625790553625') format('truetype');
}

[class^='#{$namespace}-icon-'] {
  font-family: 'viewer-design-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cu-icon-football:before {
  content: '\e904';
}

.cu-icon-basketball:before {
  content: '\e60a';
}

.cu-icon-cloudy:before {
  content: '\e60c';
}

.cu-icon-coffee:before {
  content: '\e60d';
}

.cu-icon-lightning:before {
  content: '\e8a1';
}

.cu-icon-sunny:before {
  content: '\e6dc';
}

.cu-icon-soccer:before {
  content: '\e79b';
}

.cu-icon-sunrise:before {
  content: '\e671';
}

.cu-icon-ice-drink:before {
  content: '\e91a';
}

.cu-icon-ice-tea:before {
  content: '\e632';
}

.cu-icon-water-cup:before {
  content: '\e638';
}

.cu-icon-baseballBall:before {
  content: '\e7c2';
}

.cu-icon-pear:before {
  content: '\ef9d';
}

.cu-icon-orange:before {
  content: '\e6b6';
}

.cu-icon-milk-tea:before {
  content: '\e66e';
}

.cu-icon-help:before {
  content: '\e9c5';
}

.cu-icon-star-on:before {
  content: '\e63c';
}

.cu-icon-user-solid:before {
  content: '\e618';
}

.cu-icon-remove:before {
  content: '\e63e';
}

.cu-icon-s-goods:before {
  content: '\e703';
}

.cu-icon-ice-cream-round:before {
  content: '\e658';
}

.cu-icon-camera-solid:before {
  content: '\e664';
}

.cu-icon-platform-eleme:before {
  content: '\e691';
}

.cu-icon-goods:before {
  content: '\e663';
}

.cu-icon-lollipop:before {
  content: '\e91d';
}

.cu-icon-s-tools:before {
  content: '\e72c';
}

.cu-icon-s-help:before {
  content: '\e6d1';
}

.cu-icon-phone-outline:before {
  content: '\e61b';
}

.cu-icon-ice-cream-square:before {
  content: '\e61a';
}

.cu-icon-zoomout:before {
  content: '\e715';
}

.cu-icon-eleme:before {
  content: '\ea7e';
}

.cu-icon-star-off:before {
  content: '\e659';
}

.cu-icon-zoomin:before {
  content: '\e7af';
}

.cu-icon-delete-solid:before {
  content: '\ebcc';
}

.cu-icon-camera:before {
  content: '\e7b2';
}

.cu-icon-remove-outline:before {
  content: '\e77c';
}

.cu-icon-doublebottom:before {
  content: '\e736';
}

.cu-icon-doubletop:before {
  content: '\e73c';
}

.cu-icon-PDF:before {
  content: '\e643';
}

.cu-icon-exit:before {
  content: '\e604';
}

.cu-icon-example:before {
  content: '\e605';
}

.cu-icon-excel:before {
  content: '\e607';
}

.cu-icon-education:before {
  content: '\e79d';
}

.cu-icon-edit:before {
  content: '\e608';
}

.cu-icon-form:before {
  content: '\e609';
}

.cu-icon-clipboard:before {
  content: '\e675';
}

.cu-icon-bug:before {
  content: '\e9ab';
}

.cu-icon-BarChart:before {
  content: '\e8a4';
}

.cu-icon-i404:before {
  content: '\e61e';
}

.cu-icon-documentation:before {
  content: '\e600';
}

.cu-icon-component:before {
  content: '\e646';
}

.cu-icon-drag:before {
  content: '\e602';
}

.cu-icon-dashboard:before {
  content: '\e603';
}

.cu-icon-confirm:before {
  content: '\e619';
}

.cu-icon-Openeyes:before {
  content: '\e63f';
}

.cu-icon-eye:before {
  content: '\e601';
}

.cu-icon-close-eye:before {
  content: '\e611';
}

.cu-icon-close-circular:before {
  content: '\e610';
}

.cu-icon-search:before {
  content: '\e674';
}

.cu-icon-date:before {
  content: '\e667';
}

.cu-icon-warning:before {
  content: '\e606';
}

.cu-icon-close:before {
  content: '\e615';
}

.cu-icon-loading:before {
  content: '\e66d';
}

.cu-icon-success:before {
  content: '\e617';
}

.cu-icon-danger:before {
  content: '\e65f';
}

.cu-icon-info:before {
  content: '\e8da';
}

.cu-icon-left-dobule:before {
  content: '\e704';
}

.cu-icon-right-dobule:before {
  content: '\e718';
}

.cu-icon-top:before {
  content: '\e60f';
}

.cu-icon-right:before {
  content: '\e649';
}

.cu-icon-home:before {
  content: '\e6a3';
}

.cu-icon-down:before {
  content: '\e696';
}

.cu-icon-left:before {
  content: '\e739';
}

.cu-icon-head:before {
  content: '\e616';
}

.cu-icon-yooxi:before {
  content: '\e60e';
}

.cu-icon-nav:before {
  content: '\e62b';
}

.cu-icon-qq:before {
  content: '\e60b';
}

.cu-icon-shoppingCart:before {
  content: '\e62c';
}
