@import "./common/var.scss";

@font-face {
  font-family: "viewer-design-icon";
  src: url('./fonts/iconfont.woff?t=1625700119777') format('woff'),
  url('./fonts/iconfont.ttf?t=1625700119777') format('truetype');
}

[class^="#{$namespace}-icon-"] {
  font-family: "viewer-design-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cu-icon-doublebottom:before {
  content: "\e736";
}

.cu-icon-doubletop:before {
  content: "\e73c";
}

.cu-icon-PDF:before {
  content: "\e643";
}

.cu-icon-exit:before {
  content: "\e604";
}

.cu-icon-example:before {
  content: "\e605";
}

.cu-icon-excel:before {
  content: "\e607";
}

.cu-icon-education:before {
  content: "\e79d";
}

.cu-icon-edit:before {
  content: "\e608";
}

.cu-icon-form:before {
  content: "\e609";
}

.cu-icon-clipboard:before {
  content: "\e675";
}

.cu-icon-bug:before {
  content: "\e9ab";
}

.cu-icon-BarChart:before {
  content: "\e8a4";
}

.cu-icon-i404:before {
  content: "\e61e";
}

.cu-icon-documentation:before {
  content: "\e600";
}

.cu-icon-component:before {
  content: "\e646";
}

.cu-icon-drag:before {
  content: "\e602";
}

.cu-icon-dashboard:before {
  content: "\e603";
}

.cu-icon-confirm:before {
  content: "\e619";
}

.cu-icon-Openeyes:before {
  content: "\e63f";
}

.cu-icon-eye:before {
  content: "\e601";
}

.cu-icon-close-eye:before {
  content: "\e611";
}

.cu-icon-close-circular:before {
  content: "\e610";
}

.cu-icon-search:before {
  content: "\e674";
}

.cu-icon-date:before {
  content: "\e667";
}

.cu-icon-warning:before {
  content: "\e606";
}

.cu-icon-close:before {
  content: "\e615";
}

.cu-icon-loading:before {
  content: "\e66d";
}

.cu-icon-success:before {
  content: "\e617";
}

.cu-icon-danger:before {
  content: "\e65f";
}

.cu-icon-info:before {
  content: "\e8da";
}

.cu-icon-left-dobule:before {
  content: "\e704";
}

.cu-icon-right-dobule:before {
  content: "\e718";
}

.cu-icon-top:before {
  content: "\e60f";
}

.cu-icon-right:before {
  content: "\e649";
}

.cu-icon-home:before {
  content: "\e6a3";
}

.cu-icon-down:before {
  content: "\e696";
}

.cu-icon-left:before {
  content: "\e739";
}

.cu-icon-head:before {
  content: "\e616";
}

.cu-icon-yooxi:before {
  content: "\e60e";
}

.cu-icon-nav:before {
  content: "\e62b";
}

.cu-icon-qq:before {
  content: "\e60b";
}

.cu-icon-shoppingCart:before {
  content: "\e62c";
}
