@import "./mixins/main.scss";
@import "./mixins/animation.scss";

@include b(mask) {
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;

  @include when(center) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
