@import "story/assets/css/var.scss";

.demo-link {
  h2 {
    color: $mainColor;
    text-decoration: underline;
  }

  h3 {
    margin-top: 40px;
  }

  p {
    font-size: 14px;
  }

  .margin-right {
    margin-right: 15px;
  }
}
