@import '../common/var.scss';

$theme-default: (
  'default': (
    // 颜色相关
    primary: $--color-primary,
    success: $--color-success,
    warning: $--color-warning,
    danger: $--color-danger,
    info: $--color-info,
    text: $--color-white,
    confirm: $--color-confirm,
    // 按钮大小相关
    big: $--size-big,
    medium: $--size-medium,
    small: $--size-small,
    mini: $--size-mini,
    // 宽对应的高度
    bigH: 40,
    mediumH: 40,
    smallH: 40,
    miniH: 40,
    // 输入框大小相关
    bigInput: 500,
    mediumInput: 350,
    smallInput: 300,
    miniInput: 200,
    // 表示时间轴
    bigTimeLine: 16,
    mediumTimeLine: 12
  )
);
