.home-nav {
  position: fixed;
  top: 120px;
  right: 0;
  padding: 40px 20px 0 20px;
  box-sizing: border-box;
  min-height: 400px;
  cursor: move;
  width: 250px;
  z-index: 1000;
  display: none;
  background: #ffffff;
  border-left: 2px dashed #eeeeee;
  box-shadow: #ccc 10px 10px 10px 10px;
}
