@import '../mixins/config.scss';

$baseTextBorder: #dcdee2;
$baseTextColor: #515a6e;
$activeColor: #409eff;
$--color-primary: #409eff;
$--color-white: #ffffff;
$--color-black: #000000;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;
$--color-confirm: #e96d2d;

$--size-big: 160;
$--size-medium: 120;
$--size-small: 80;
$--size-mini: 40;

$--span-offset: 24;
