@import "../mixins/config.scss";

$baseTextBorder: #dcdee2;
$baseTextColor: #515a6e;
$activeColor: #409eff;
$--color-primary: #409EFF;
$--color-white: #FFFFFF;
$--color-black: #000000;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;
$--color-confirm: #E96D2D;

$--size-big: 160;
$--size-medium: 120;
$--size-small: 80;
$--size-mini: 40;

$--span-offset: 24;
